In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/julia/Documents/Estudo Python/Curso Cientista de Dados/SeÃ§Ã£o 5/house.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [4]:
filter1 = df.loc[(df['Rooms'] == 3) & (df['Type']=='h') & (df['Price'] <= 500000)]

filter1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
92,Broadmeadows,145 Graham St,3,h,457000.0,S,YPA,1/04/2017,3047,Northern Metropolitan,4294,14.0,Hume City Council
170,Craigieburn,7A Amstel St,3,h,356500.0,S,Jason,1/04/2017,3064,Northern Metropolitan,15510,20.6,Hume City Council
177,Cranbourne North,22 Horsfield St,3,h,475000.0,S,LJ,1/04/2017,3977,South-Eastern Metropolitan,6464,34.7,Casey City Council
183,Dallas,31 Phillip St,3,h,455500.0,S,Barry,1/04/2017,3047,Northern Metropolitan,2246,14.0,Hume City Council
192,Delahey,1/25 Yeats Dr,3,h,335000.0,S,Ray,1/04/2017,3037,Western Metropolitan,2898,18.0,Brimbank City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62977,Werribee,4 Mekong Cl,3,h,420000.0,S,Barry,30/12/2017,3030,Western Metropolitan,16166,14.7,Wyndham City Council
62997,Wyndham Vale,5 Chatswood Pl,3,h,410000.0,S,hockingstuart,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
62998,Wyndham Vale,21 Mermaid Cr,3,h,400000.0,SP,Barry,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63000,Wyndham Vale,8 Opala Ct,3,h,416000.0,S,Sweeney,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

In [ ]:
import re
filter2 = df.loc[df['Address'].str.contains('Turner St|Turner Rd', flags=re.I)]
filter2

In [ ]:
filter3 = df.loc[df['Address'].str.contains('^59', flags=re.I) & (df['Price'] <= 500000)]
filter3

In [ ]:
df.loc[df['SellerG'] == 'Nelson'] = 'Ronald'

df.loc[df['SellerG'] == 'Ronald', ['Method']] = 'Pending'
df

In [6]:
df.groupby(['SellerG']).sum().sort_values('Price', ascending = False).head(10)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47831.6
Nelson         13808  4.089097e+09  14489179       35455466   34410.5
Barry          22919  4.022899e+09  21405391       54662639  108662.2
Marshall        9437  3.337732e+09   8949613       22270034   20141.4
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.3
Buxton         10707  3.103258e+09  10669223       21365913   48190.6
Ray            14961  2.953669e+09  14329293       41191735   76239.1
Fletchers       5402  1.384292e+09   5039345       10521475   21963.2
Biggin          4203  1.002292e+09   4783284       12904764   12250.2
Noel            3447  9.618405e+08   3328766        6571572   14386.3